body {
	background-color: white;
	font-family: "Helvetica Neue", san serif;
	letter-spacing: .02em;
	text-align: left;
	margin: 28px;

}

button {
	background-color: #CF0A2C; /* Red */
	color: FFF;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .15em;
	text-decoration: none;
	border: none;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
}

a {
	color: #4A4D56; /* Dark Gray */
	font-weight: 300;
	letter-spacing: .15em;
	text-decoration: none;
	text-transform: uppercase;
}

p { 
	color: #4A4D56; /* Dark Gray */
	font-size: 1em;
	font-weight: 200;
	line-height: 1.5em;
}

.topnav {
	font-weight: 300;
	text-align: right;
}

.navlinks {

}


h1 {
	font-size: 6em;
	line-height: 1em;
	color: #4A4D56; /* Dark Gray */

}

h2 {
	color: #CF0A2C; /* Red */
	font-size: 50px;
	font-weight: 500;
}

h3 {
	background-color: #4A4D56; /* Dark Gray */
	padding: 30px
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .15em;
	padding: 30px;
	width: 250px;

}

h4 {
	color: #FFF; /* White */
	font-size: 1em;
	font-weight: 200;
	line-height: 1.5em;
}

h5 {
	font-size: 20px;
	font-weight: 400;

}



footer {
	background-color: #999999; /* Medium Gray */
	margin: none;
	color: #FFF;
}

li {
	color: #4A4D56;
	font-weight: 300;
	letter-spacing: .15em;
	text-decoration: none;
	text-transform: lowercase;
}

main {
	width: 600px;
}

section { 
	width: 1200px;
}

.fa-instagram {
}







