body {
	background-color: white;
	font-family: "Helvetica Neue", san serif;
	letter-spacing: .1em;

}

p { 
	color: #4A4D56;
	font-size: 16px;
	font-weight: 200;

}

h1 {
	color: #4A4D56;
	font-size: 96px;

}

h2 {
	color: #CF0A2C;
	font-size: 50px;
	font-weight: 500;
	text-decoration: none;

}

h3 {
	background-color: #4A4D56;
	font-size: px;
	color: white;
	text-transform: uppercase;

}

li {
	color: #4A4D56;
	font-weight: 300;
	letter-spacing: .15em;
	text-decoration: none;
	text-transform: uppercase;

}
